<%= link_to 'Register as User', new_user_path %>
<%= link_to 'Log In', login_path unless session[:user_id]%>

<% @users.each do |user| %>
<section id="user-<%= user.id %>">
  <%= user.name %>
  email: <%= user.email %>
</section>
<% end %>
